/* button */

.custom-blue-btn {
  background-color: #010e98;
  color: white;
  font-weight: bold;
  padding: 12px 30px;
  text-decoration: none;
  display: inline-block;
  border: none;
  transition: background-color 0.3s ease;
  font-size: 16px;
  border-radius: 2px;
  margin-top: 15px;
}

.custom-blue-btn:hover {
  background-color: red;
  color: white;
}